.header {
	background-color: #222222;
	color: #ffffff;
	height: 6vh;
	min-height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
	padding: 10px;
	box-sizing: border-box;
}

.dechat {
	font: inherit bold;
	margin-right: 15px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	cursor: pointer;
	text-decoration: none;
}

.accbtn {
	font: inherit;
	margin-right: 15px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	cursor: pointer;
	text-decoration: none;
}

.accbtn:hover {
	filter: brightness(0.8);
}